# Local Raspberry Pi deployment defaults
# Copy this file to deploy/pi/local.env and replace the values below.

PI_HOST=192.168.1.50
PI_USER=pi
PI_PORT=22
PI_BRANCH=main
PI_REMOTE_DIR=/home/pi/vinote
PI_ENV_FILE=.env
